<library path="src">
  <class name="BagManagerRqtPlugin"
         type="rqt_bag_manager.media_manager_plugin.MediaManagerRqtPlugin"
         base_class_type="rqt_gui_py::Plugin">
    <description>
      Media Manager rqt plugin for listing, adding, and removing media files.
    </description>
    <qtgui>
        <group>
            <label>Media manager</label>
        </group>
        <label>media manager plugin</label>
        <icon type="theme">system-help</icon>
        <statustip>Media Manager.</statustip>
    </qtgui>
  </class>
</library>